.article {
    width: 1000px;
}

.container {
    width: 800px;   
    margin-left: 700px;
}

.credit {
    text-decoration: none;
}

.credit:hover{
    text-decoration: underline;
}

.ulheader {
    float: left;
    list-style: none;
    margin-right: 15px;
    text-decoration: underline;

}

li span {
    color: rgb(175, 0, 0);
}

h4 span{
    background-color: rgb(155, 0, 0);
    border-radius: 8px;
    color: white;
}